bin/
obj/
AppPackages/
.vs/
build/
!/Glance.QuickConvert.WinUI/Build/
!/Glance.QuickConvert.WinUI/Build/Download-FFmpeg.ps1
build-check*/
artifacts/
TestResults/
*.user
*.nupkg
publish.local.json
Publish/*
!Publish/releases.json
