<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Elysium Local" value="..\Elysium\artifacts\local-packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Elysium Studio" value="https://nuget.pkg.github.com/elysium-studio/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Elysium Local">
      <package pattern="Elysium.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Betalgo.*" />
      <package pattern="CommunityToolkit.*" />
      <package pattern="DynamicXaml.*" />
      <package pattern="Microsoft.*" />
      <package pattern="MonoTorrent" />
      <package pattern="Mono.Nat" />
      <package pattern="ReusableTasks" />
      <package pattern="SharpCompress" />
      <package pattern="NAudio*" />
      <package pattern="runtime.*" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="System.*" />
      <package pattern="Velopack" />
      <package pattern="Whisper.net*" />
      <package pattern="WinUIEx" />
      <package pattern="coverlet.*" />
      <package pattern="xunit*" />
    </packageSource>
    <packageSource key="Elysium Studio">
      <package pattern="Elysium.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
