<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="desktop uap uap10 rescap">
  <Identity
    Name="ElysiumStudio.Glance.Debug"
    Publisher="CN=Elysium Studio"
    Version="1.0.0.0" />
  <Properties>
    <DisplayName>Glance</DisplayName>
    <PublisherDisplayName>Elysium Studio</PublisherDisplayName>
    <Logo>Assets\Glance.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.17763.0"
      MaxVersionTested="10.0.26226.0" />
  </Dependencies>
  <Applications>
    <Application
      Id="Glance"
      Executable="Glance.exe"
      EntryPoint="Windows.FullTrustApplication"
      uap10:RuntimeBehavior="packagedClassicApp"
      uap10:TrustLevel="mediumIL">
      <uap:VisualElements
        DisplayName="Glance"
        Description="Glance"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Glance.png"
        Square44x44Logo="Assets\Glance.png">
        <uap:DefaultTile />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension
          Category="windows.startupTask"
          Executable="Glance.exe"
          EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask
            TaskId="GlanceDesktop"
            Enabled="false"
            DisplayName="Glance" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <DeviceCapability Name="location" />
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="systemAIModels" />
  </Capabilities>
</Package>
